// ================
// = Dependancies =
// ================

@import (less) 'normalize.css';
@import 'order.less';
@import 'clutter.less';


// ========================================
// = Shared variables, styles, and mixins =
// ========================================

// =======================
// = Typography & Layout =
// =======================

// FIXME: We don't really need to embed all the glyphs only the amperand!

@regular-font-family: 'Lato', sans-serif;
@regular-font-variation: 400;
@regular-font-offset: 0.887;

@highlight-font-family: @regular-font-family;
@highlight-font-variation: italic 400;
@highlight-font-offset: 0.887;

@title-font-family: 'Sansita', serif;
@title-font-variation: 700;
@title-font-offset: 0.920;

@subtitle-font-family: 'Oswald', sans-serif;
@subtitle-font-variation: 400;
@subtitle-font-offset: 0.952;

@heading-font-family: @title-font-family;
@heading-font-variation: 400;
@heading-font-offset: @title-font-offset;

@accent-font-family: 'Alice';
@accent-font-variation: 400;
@accent-font-offset: 0.836;

.use-custom-scale(20px, 10px 14px 20px 29px 42px 61px 88px 128px);
.use-baseline-grid(0, 1.45, regular);
.use-column-grid(700px, 20px, 6);

@import url('https://fonts.googleapis.com/css?family=Sansita:400,700|Oswald:400|Lato:400,400i|@{accent-font-family}');

html {
	.font-baseline();
	background: #fafafa;
}
body {
	.show-baselines();
	margin: 0 auto;
	max-width: 35em;
	padding: 0 1.45em;
	.padding-top(1);
	.padding-bottom(1);
}
section, article {
	.padding-top(1);
	.padding-bottom(1);
}
	
/*
	Headings
*/
h2 {
	.font-align(2, 1.25, subtitle);
	.margin-top(1);
	.margin-bottom(2);
	
	section > &:first-child {
		text-align: center;
		
		&:before, &:after {
			font-family: @accent-font-family, sans-serif;
			font-size: 1.5em;
			line-height: 0.2;
			vertical-align: -20%;
			opacity: 0.33;
			content: " ~ ";
		}
	}
	
}
h3 {
	.font-align(1, 1, heading);
	.margin-top(0);
	.margin-bottom(1);
}

/*
	Body copy
*/
p, ul, ol {
	.margin-top(0);
	.margin-bottom(1);
}
ul {
	list-style: none;
	padding-left: 0;
	
	li {
		position: relative;
		.margin-bottom(0.33);
		
		&:before {
			position: absolute;
			top: 0.48em;
			left: (@grid-gutter * -1.25);
			
			content: "*";
			font-family: @accent-font-family, sans-serif;
			font-size: 1.25em;
			line-height: (1 / 1.25);
			
			opacity: 0.33;
		}
	}
}

/*
	Figure
*/
figure {
	clear: both;
	margin: 0;
	.margin-top(0);
	.margin-bottom(1);
	
	img {
		max-width: 100%;
		height: auto;
	}
	
	&.concept {
		overflow: hidden;
		border-radius: 5px;
		box-shadow: 0 1px 2px 1px rgba(0,0,0, 0.25),
			0 1px 2px 2px rgba(0,0,0,0.05);
	}
	
	&.mini {
		float: right;
		width: 300px;
	}
	
	&.screenshot {
		.margin-top(2);
		.margin-bottom(2);
		position: relative;
		z-index: 10;
		
		&:before {
			display: block;
			width: 100%;
			content: '';
		}
		
		&:after {
			display: block;
			position: absolute;
			z-index: 1;
			content: '';
		}
		
		img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			z-index: 2;
			border: 1px solid #333;
			margin: -1px;
		}
		
		&.ipad {
			@width: 1024px;
			@height: 768px;
			
			
			@-top: 42px;
			@-bottom: @-top;
			@-left: 124px;
			@-right: @-left;
			@-width: 1272px;
			@-height: 852px;
			
			max-width: @width;
			
			&:before {
				padding-top: percentage((@height / @width));
				margin-top: percentage((@-top / @width));
				margin-bottom: percentage((@-bottom / @width));
			}
			
			&:after {
				top: percentage((-@-top / @height));
				left: percentage((-@-left / @width));
				width: percentage((@-width / @width));
				height: percentage((@-height / @height));
				background: no-repeat url(../assets/graphics/iPad.png) 0 0;
				background-size: 100%;
			}
		}
		
		&.iphone {
			@width: 320px;
			@height: 568px;
			
			@-top: 117px;
			@-bottom: 110px;
			@-left: 31px;
			@-right: 28px;
			@-width: 379px;
			@-height: 795px;
			
			max-width: @width;
			
			&:before {
				margin-top: percentage((@-top / @width));
				margin-bottom: percentage((@-bottom / @width));
				padding-top: percentage((@height / @width));
			}
			
			&:after {
				top: percentage((-@-top / @height));
				left: percentage((-@-left / @width));
				width: percentage((@-width / @width));
				height: percentage((@-height / @height));
				background: no-repeat url(../assets/graphics/iPhone.png) 0 0;
				background-size: 100%;
			}
		}
	}
}
img {
	&.logo {
		max-width: 100%;
		width: auto;
		height: auto;
	}
}

/*
	Misc
*/
.w {
	.invisible();
}
.amp {
	font-family: @accent-font-family, sans-serif;
	font-size: 1.5em;
	line-height: 0.2;
	vertical-align: -41.3%;
	opacity: 0.33;
}


// ==============
// = Components =
// ==============

/*
	Profile
*/
#profile {
	header {
		text-align: center;
	}
	h1 {
		.font-align(3, 1, title);
		.margin-top(0);
		.margin-bottom(0.25);
	}
	.note {
		.margin-bottom(0);
	}
	.role, .adr {
		display: block;
	}
	.role {
		.font-align(1, 1.25, subtitle);
		.margin-bottom(0);
	}
	.adr {
		.font-align(0, 1.25, heading);
		.margin-bottom(0.75);
	}
	.intro > p {
		// .font-align(1, 1.45, regular);
	}
	footer {
		.font-align(0, 1.45, highlight);
		// text-align: center;
	}
	
	/*
		Expertise
	*/
	aside {
		
		h2 {
			.font-align(1, 1.25, subtitle);
			.margin-top(0);
			.margin-bottom(0.5);
		}
	}
}

/*
	Case studies
*/
.rightmost {
	float: right;
	.width(2);
	.margin-left((@grid-gutter * 2));
	
	.prototype {
		margin: -9%;
	}
}
.leftmost {
	float: left;
	.width(2);
	.margin-right((@grid-gutter * 2));
}
.combined {
	position: relative;
	
	.screenshot.iphone {
		position: absolute;
		left: -2%;
		bottom: -6%;
		width: 30%;
		
		&.right {
			left: auto;
			right: -2%;
		}
		
		&:before {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

/*
	Employment history
*/
#employment-history {
	> div {
		.margin-bottom(1.5);
	}
	h3 {
		.margin-bottom(0);
	}
	.role, .employer {
		display: block;
	}
	.role {
		.font-align(1, 1, heading);
		.margin-bottom(0);
	}
	.employer {
		.font-align(0, 1.5, subtitle);
		.margin-bottom(0.5);
		opacity: 0.33;
	}
}

/*
	Open-source libraries
*/
#open-source-libraries {
	h3 {
		.invisible();
	}
	div {
		float: left;
		.margin-right(@grid-gutter);
		.width(3);
		
		+ div {
			margin-right: 0;
		}
	}
}