// ================
// = Dependancies =
// ================

@import (less) 'normalize.css';
@import 'order.less';
@import 'clutter.less';


// ========================================
// = Shared variables, styles, and mixins =
// ========================================

@color-text: #333;
@color-primary: lighten(@color-text, 40%);
@color-highlight: lighten(@color-text, 25%);
@color-light: lighten(@color-text, 50%);
@color-body: #fafafa;

@bp-small-copy: 568px;
@bp-compact-layout: 740px;
@bp-hide-ipad: 414px;
@bp-compact-screens: 1024px;

// =======================
// = Typography & Layout =
// =======================

@regular-font-family: 'Lato', sans-serif;
@regular-font-variation: 400;
@regular-font-offset: 0.887;

@highlight-font-family: @regular-font-family;
@highlight-font-variation: italic 400;
@highlight-font-offset: 0.887;

@title-font-family: 'Sansita', serif;
@title-font-variation: 700;
@title-font-offset: 0.920;

@subtitle-font-family: 'Oswald', sans-serif;
@subtitle-font-variation: 400;
@subtitle-font-offset: 0.952;

@section-font-family: @subtitle-font-family;
@section-font-variation: 500;
@section-font-offset: @subtitle-font-offset;

@heading-font-family: @title-font-family;
@heading-font-variation: 400;
@heading-font-offset: @title-font-offset;

@accent-font-family: 'Alice';
@accent-font-variation: 400;
@accent-font-offset: 0.836;

.use-custom-scale(20px, 10px 14px 20px 29px 42px 61px 88px 128px);
.use-baseline-grid(0, 1.45, regular);
.use-column-grid(940px, 40px, 6);

@import url('https://fonts.googleapis.com/css?family=Sansita:400,700|Oswald:400,500|Lato:400,400i|@{accent-font-family}');

html {
	.font-baseline();
	background: @color-body;
	color: @color-text;
	
	@media screen and (max-width: @bp-small-copy) {
		font-size: 16px;
	}
}
body {
	// .show-baselines();
}
.wrapper {
	overflow: hidden;
}
section {
	position: relative;
	margin: 0 auto;
	padding: 6.25%;
	max-width: @grid-width;
	.padding-top(3);
	.padding-bottom(3);
	
	+ section:before {
		display: block;
		position: absolute;
		.top(-1);
		left: 0;
		right: 0;
		color: @color-light;
		text-align: center;
		font-family: @accent-font-family, sans-serif;
		font-size: 2em;
		line-height: (1 / 1.25);
		content: "* * *";
	}
	+ footer {
		clear: both;
		text-align: center;
		
		p {
			.font-align(-1, 1.45);
			margin-left: auto;
			margin-right: auto;
		}
		a {
			text-decoration: none;
		}
	}
}
article + article {
	.margin-top(4);
}
	
/*
	Headings
*/
h2 {
	.font-align(2, 1.25, section);
	.margin-top(0);
	.margin-bottom(2);
	
	section > &:first-child {
		position: relative;
		text-transform: capitalize;
		text-align: center;
	}
	
}
h3 {
	.font-align(1, 1, heading);
	.margin-top(0);
	.margin-bottom(1);
}

/*
	Body copy
*/
p, ul, ol {
	max-width: 30em;
	.margin-top(0);
	.margin-bottom(1);
}
ul {
	// list-style: none;
	padding-left: 0;
	
	li {
		position: relative;
		.margin-bottom(0.33);
	}
}

/*
	Figure
*/
figure {
	clear: both;
	margin: 0;
	.margin-top(0);
	.margin-bottom(1);
	
	img, video {
		max-width: 100%;
		height: auto;
	}
	
	video {
		cursor: pointer;
	}
	
	&.concept {
		overflow: hidden;
		border-radius: 5px;
		max-width: 1024px;
		margin-left: -4.5%;
		margin-right: -4.5%;
		box-shadow: 0 1px 2px 0px rgba(0,0,0,0.25);
		
		@media screen and (max-width: @bp-compact-screens) {
			margin-left: -2.25%;
			margin-right: -2.25%;
		}
	}
	
	&.mini {
		float: right;
		width: 300px;
	}
	
	&.screen {
		.margin-top(2);
		.margin-bottom(2);
		position: relative;
		z-index: 10;
		
		&:before {
			display: block;
			width: 100%;
			content: '';
		}
		
		&:after {
			display: block;
			position: absolute;
			z-index: 1;
			content: '';
		}
		
		img, video {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			z-index: 2;
			border-radius: 1px;
			border: 2px solid #444;
			margin: -2px;
		}
		
		&.ipad {
			@width: 1024px;
			@height: 768px;
			
			@-top: 62px;
			@-bottom: @-top;
			@-left: 144px;
			@-right: @-left;
			@-width: 1312px;
			@-height: 892px;
			
			max-width: @width;
			margin-left: -4.5%;
			margin-right: -4.5%;
			
			&:before {
				padding-top: percentage((@height / @width));
				margin-top: percentage((@-top / @width));
				margin-bottom: percentage((@-bottom / @width));
			}
			
			&:after {
				top: percentage((-@-top / @height));
				left: percentage((-@-left / @width));
				width: percentage((@-width / @width));
				height: percentage((@-height / @height));
				background: no-repeat url(../assets/graphics/iPad.png) 0 0;
				background-size: 100%;
			}
			
			@media screen and (max-width: @bp-compact-screens) {
				margin-left: -2.25%;
				margin-right: -2.25%;
			}
		}
		
		&.iphone {
			@width: 320px;
			@height: 568px;
			
			@-top: 137px;
			@-bottom: 130px;
			@-left: 51px;
			@-right: 48px;
			@-width: 419px;
			@-height: 835px;
			
			max-width: @width;
			
			&:before {
				margin-top: percentage((@-top / @width));
				margin-bottom: percentage((@-bottom / @width));
				padding-top: percentage((@height / @width));
			}
			
			&:after {
				top: percentage((-@-top / @height));
				left: percentage((-@-left / @width));
				width: percentage((@-width / @width));
				height: percentage((@-height / @height));
				background: no-repeat url(../assets/graphics/iPhone.png) 0 0;
				background-size: 100%;
			}
		}
	}
}
img {
	&.logo {
		max-width: 100%;
		width: auto;
		height: auto;
	}
}

/*
	Video
*/
video {
	& + span {
		position: absolute;
		top: 50%;
		left: 50%;
		display: block;
		width: 70px;
		height: 70px;
		border: 2px solid #f8f8f8;
		border-radius: 50%;
		box-shadow: 0 0px 2px rgba(0,0,0,0.3),
			0 1px 10px rgba(0,0,0,0.1);
		margin: -35px 0 0 -35px;
		background: fade(#333, 75%) url(../assets/graphics/play.png) no-repeat 50% 50%;
		background-size: 100%;
		z-index: 3;
		pointer-events: none;
		
		transition: all 200ms @ease-out-sine;
	
		.playing & {
			opacity: 0;
			transform: scale(1.4);
		}
	}
	
	&:hover, &:focus {
		& + span {
			background-color: fade(#333, 90%);
		}
	}
}


/*
	Links
*/
button {
	border: 0;
	padding: 0;
	margin: 0;
	background: none;
}
a, button {
	color: @color-primary;
	
	&:hover, &:focus {
		color: @color-highlight;
	}
}

.links {
	max-width: none;
	.margin-top(1);
	.margin-bottom(1);
	text-align: center;
	
	a, em, button {
		margin-left: (@grid-gutter / 2);
		margin-right: (@grid-gutter / 2);
		.font-align(1, 1.45, subtitle);
		text-decoration: none;
		white-space: nowrap;
		
		&:before, &:after {
			color: @color-text;
		}
		
		&:before {
			content: '{\00a0';
		}
		&:after {
			content: '\00a0}';
		}
	}
	
	em {
		&, &:before, &:after {
			color: @color-light;
		}
	}
}

/*
	Misc
*/
.w {
	.invisible();
}
.amp {
	font-family: @accent-font-family, sans-serif;
	font-size: 1.45em;
	line-height: 0.2;
	vertical-align: -41.3%;
	color: @color-light;
}


// ==============
// = Components =
// ==============

/*
	Profile
*/
#profile {
	header {
		.padding-top(1);
		text-align: center;
		margin-left: -5%;
		margin-right: -5%;
	}
	h1 {
		.font-align(3, 0.8, title);
		.margin-top(1);
		.margin-bottom(0.25);
	}
	.note {
		max-width: none;
		.margin-bottom(0);
	}
	.role, .adr {
		display: block;
	}
	.role {
		.font-align(1, 1.25, subtitle);
		.margin-bottom(0);
	}
	.adr {
		.font-align(0, 1.25, heading);
		.margin-bottom(1.75);
	}
	.contact {
		.font-align(0, 1.45, highlight);
		
		a {
			text-decoration: none;
		}
	}
	
	.content > p {
		// .font-align(1, 1.25, accent);
	}
	
	/*
		Expertise
	*/
	.content {
		position: relative;
		.padding-right(2);
	}
	
	aside {
		position: absolute;
		.top(0);
		.right(0);
		.width(2);
		
		h2 {
			.font-align(0, 1.25, section);
			.margin-top(0);
			.margin-bottom(0.25);
			
			> span {
				// border-bottom: 2px solid @color-text;
			}
		}
		
		ul {
			.font-size(-1);
			
			li {
				.margin-bottom(0.25);
			}
		}
	}
	
	@media screen and (max-width: 740px) {
		.content {
			padding-right: 0;
		}
		aside {
			position: static;
			width: auto;
		}
	}
}

/*
	Case studies
*/
#recent-projects {
	header {
		position: relative;
	}
	.icon {
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		overflow: hidden;
		width: 76px;
		height: 76px;
		border-radius: 12px;
		box-shadow: 0 1px 2px 0px rgba(0,0,0,0.25);
		
		img {
			width: 100%;
			height: 100%;
		}
		
		@media screen and (max-width: @bp-small-copy) {
			width: 60px;
			height: 60px;
		}
	}
	h3 {
		padding-left: (@grid-gutter / 2 + 76px);
		.font-align(2, 1.25, title);
		.padding-top(1);
		.padding-bottom(1);
		.margin-top(0.5);
		.margin-bottom(0.5);
		
		@media screen and (max-width: @bp-small-copy) {
			padding-left: (@grid-gutter / 2 + 60px);
		}
	}
	header > p {
		.font-align(1, 1.125, accent);
		.margin-bottom(1);
	}
	
	/*
		Article body snatcher
	*/
	
	.body {
		transition: opacity 500ms 300ms;
	}
	
	.compact {
		> .body {
			display: none;
		}
		> header {
			.margin-bottom(3);
		}
		> footer {
			.margin-top(3);
		}
	}
	.hidden {
		> .body {
			height: 0;
			overflow: hidden;
			opacity: 0;
		}
	}
	
	
	/*
		Position screens
	*/
	.aside {
		float: right;
		width: 33%;
		max-width: 160px;
		margin-left: 5%;
		
		img {
			border-width: 1px;
			margin: -1px;
		}
		
		@media screen and (min-width: 960px) {
			margin-right: 6%;
		}
	}
	.combined {
		position: relative;
	
		.screen.iphone {
			position: absolute;
			top: 14.5%;
			left: -3%;
			width: 33%;
		
			&.right {
				left: auto;
				right: -3%;
			}
		
			&:before {
				margin-top: 0;
				margin-bottom: 0;
			}
			
			@media screen and (max-width: @bp-compact-screens) {
				top: 10.5%;
			}
		}
		+ .body > p:first-child {
			.margin-top(2.5);
		}
		
		@media screen and (max-width: @bp-hide-ipad) {
			.screen.ipad {
				display: none;
			}
			.screen.iphone {
				position: relative;
				top: auto;
				left: auto;
				right: auto;
				width: 66%;
				margin: 30% auto 30%;
			}
		}
		
		+ footer {
			.margin-top(3);
		}
	}
	.double {
		.clearfix();
		max-width: 1024px;
		margin-left: -4.5%;
		margin-right: -4.5%;
		
		> .concept {
			clear: none;
			max-width: none;
			margin-left: 0;
			margin-right: 0;
			
			float: left;
			.width(3);
			
			+ .concept {
				float: right;
				// .margin-left(@grid-gutter);
			}
			
			@media screen and (max-width: @bp-compact-layout) {
				float: none;
				width: auto;
			}
		}
		
		@media screen and (max-width: @bp-compact-screens) {
			margin-left: -2.25%;
			margin-right: -2.25%;
		}
	}
	
	/*
		Show/hide screens
	*/
	.screen {
		transition: opacity 100ms 100ms, transform 500ms @ease-in-out-back;
	}
	.playing {
		.screen.iphone.static {
			transform: translateX(-150%);
			transition-delay: 300ms, 0ms;
			opacity: 0;
		}
		.screen.iphone.static.right {
			transform: translateX(150%);
		}
	}
}




/*
	Employment history
*/
#employment-history {
	> div {
		margin: 0 auto;
		max-width: 30em;
		
		+ div {
			.margin-top(1.75);
		}
	}
	h3 {
		.margin-bottom(0);
	}
	.role, .employer {
		display: block;
	}
	.role {
		.font-align(1, 1, heading);
		.margin-bottom(0);
	}
	.employer {
		.font-align(0, 1.45, subtitle);
		.margin-bottom(0.25);
		color: @color-light;
	}
}

/*
	Open-source libraries
*/
#open-source-libraries {
	// overflow: hidden;
	h2 {
		.margin-bottom(0.5);
	}
	h3 {
		.invisible();
	}
	img {
		display: block;
		width: 320px;
		margin: 0 auto;
		.margin-bottom(1);
	}
	p {
		.margin-bottom(0.5);
	}
	img + p {
		.font-align(1, 1.125, accent);
		.margin-bottom(0.5);
	}
	div {
		float: left;
		.width(3);
		.margin-right(@grid-gutter);
		.margin-top(1);
		.margin-bottom(1);
		
		+ div {
			margin-right: 0;
		}
		
		@media screen and (max-width: 740px) {
			width: auto;
			margin-right: 0;
		}
	}
	
}